<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrokerX - {{ block "title" . }}{{ end }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div id="screen-container">
      <div id="nav-container">
        <h1>BrokerX</h1>
        <nav>
          <ul>
            <li>Add funds</li>
            <a href="/order"><li>Orders</li></a>
          </ul>
        </nav>
        <p>{{if .Email}}Welcome {{.Email}}!{{end}}</p>
      </div>

      <div id="main-container">{{ block "content" . }}{{ end }}</div>

      <div id="footer-container">
        <footer>
          <p>© 2025 Jean-Christophe Benoit</p>
          <a href="mailto:jc_ben@live.ca">jc_ben@live.ca</a>
        </footer>
      </div>
    </div>
  </body>
</html>
