{{define "order.html"}} 
{{ template "base.html" . }} 
{{ end }} 

{{ define "title" }}Place Order{{ end }} 
{{ define "content"}}
<h2>Place Order</h2>
<form action="/order/place" method="post">
  <label for="stock">Stock Symbol:</label>
  <input type="text" id="stock" name="stock" required /><br /><br />
  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" name="quantity" required /><br /><br />
  <label for="orderType">Order Type:</label>
  <select id="orderType" name="orderType">
    <option value="buy">Buy</option>
    <option value="sell">Sell</option></select
  ><br /><br />
  <button type="submit">Submit Order</button>
</form>
{{ end }}
